<mat-card class="mt-3 mb-3">
    <mat-card-title-group>
        <mat-card-title>{{country.name}}</mat-card-title>
        <mat-card-subtitle>{{country.native}}</mat-card-subtitle>

        <p>{{country.emoji}}</p>

    </mat-card-title-group>
    <mat-card-content>
        <ul>
            <li>
                <b>Capital:</b> {{country.capital}}
            </li>
            <li>
                <b>Phone Calling Code:</b> +{{country.phone}}
            </li>
            <li>
                <b>Currency:</b> {{country.currency}}
            </li>
            <li>
                <b>Languages:</b>
                <div *ngFor="let language of country.languages">- {{language.name}} | {{language.native}}</div>
            </li>
        </ul>

    </mat-card-content>
</mat-card>